<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>synchronizerServlet</servlet-name>
		<servlet-class>com.trireplicator.server.SynchronizerServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>synchronizerServlet</servlet-name>
		<url-pattern>/home_page/synchronizer</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Home.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>CronServlet</servlet-name>
		<servlet-class>com.trireplicator.server.CronServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CronServlet</servlet-name>
		<url-pattern>/replicateAll</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.trireplicator.server.AdminServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/test*</url-pattern>
			<url-pattern>/Admin*</url-pattern>
			<url-pattern>/admin*</url-pattern>
			<url-pattern>/replicateAll*</url-pattern>
			<url-pattern>/_ah*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<!-- This is to make sure that all communication is done via SSL protocol, 
		no plain HTTP is allowed -->
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<listener>
		<listener-class>com.trireplicator.server.ServletListener</listener-class>
	</listener>

</web-app>